:host{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}
.tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 2rem;
  width: 100%;
  
}
