.title{
    font-size: 1.5rem;
    font-weight: bold;
}
.tasks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
