.focus-section {
  // background: #FFDCDC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
}

.timer-container {
  // background: #fff;
  box-shadow: 0 1rem 3rem #896c6c41;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;

  &__spinner-and-timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__timer {
    font-size: 4rem;
    position: absolute;
  }
}
