.focus-section {
  // background: #FFDCDC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 1rem;
  padding: 2rem;
  gap: 2rem;
}

.timer-buttons {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #ffe8cd;
  box-shadow: 0 1rem 3rem #896c6c41;
  // padding: 1rem;
  border-radius: 3rem;
  &__timer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    flex: 1;
    min-height: 3.5rem;
    border-radius: 2rem;
    @media screen and (max-width:600px) {
        flex-direction: column;
    }

    &:hover:not(&--active-button) {
      background: #ffd6ba;
    }
    &--active-button {
      background: #e5beb5;
      &:hover {
        background: #896C6C;
        color: #FFF2EB;
      }
    }
  }
}

.timer-container{
    background: #fff;
    border-radius: 2rem;
    padding: 2rem;


    &__progress-spinner{
 
    }
}
