<section class="focus-section">
  <app-mode-buttons [(modeTime)] = "maxTime" />

  <div class="timer-container">
    <div class="timer-container__spinner-and-timer">
      <mat-progress-spinner
        mode="determinate"
        [value]="remainingTimeInPercentage()"
        diameter="300"
        aria-label="Progress bar that indicates time spent and time left"
        class="timer-container__progress-spinner"
      >
      </mat-progress-spinner>
      <div class="timer-container__timer">{{ remainingTime() | formatTime }}</div>
    </div>

    <app-control-buttons 
    [maxTime]="maxTime()"
    [(remainingTimeInSeconds)]="remainingTime" />
  </div>
</section>
