<nav>
  <ul class="tab-bar-nav-list">
    @for (navItem of navItems(); track navItem.tab){
    <li>
      <a
        [routerLink]="navItem.path"
        class="tab-bar-nav-list__link"
        routerLinkActive="tab-bar-nav-list__link--active"
        [routerLinkActiveOptions]="{ exact: navItem.exact }"
      >
        <mat-icon
          aria-hidden="false"
          [aria-label]="navItem.ariaLabel"
          [fontIcon]="navItem.icon"
        ></mat-icon>

        <div>{{ navItem.tab }}</div>
      </a>
    </li>
    }
  </ul>
</nav>
