.tab-bar-nav-list {
  display: flex;
  justify-content: center;
  box-shadow: 2rem 2rem 2rem #cc898917,-2rem -2rem 2rem #cc898917;
  max-width: fit-content;
  border-radius: 1rem;
  margin-inline: auto;
  padding: 1rem 1rem;
  gap: 0.5rem;

  &__link {
    // @include flexCenter(column);
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background: #ffe8cd;
    color: rgb(34, 34, 34);
    min-width: 6rem;

    box-shadow: 0rem 0.2rem 0.4rem #cc898917;
    gap: 0.25rem;

    &--active {
      font-weight: bold;
      background-color: #e5beb5;
      &:hover {
        background: #896c6c;
        color: #eee6ca;
      }
    }
    &:hover {
      box-shadow: 0 0.5rem 0.5rem #22222217;
    }
    &:hover:not(&--active) {
      background-color: #ffd6ba;
    }
  }
}
