:host{
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
}

main {
  width: 100%;
  flex: 1;
  // align-items: center;
  // background: #333;
}
app-tab-bar{
  background: #000;
  max-width: calc(800px - 1rem);
  // height: 2rem;
}