.layout {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  flex: 1;
  // align-items: center;
  // background: #333;
}
router-outlet {
  width: 100%;
  flex: 1;
}
app-tab-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
}
