button {
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  min-height: 3.5rem;
  gap: 0.5rem;
  width: 100%;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &.button--shadowed {
    box-shadow: 0 0.25rem 1rem #896c6c4b;
  }
  &.button--primary {
    background: #e5beb5;
  }
  &.button--secondary {
    &:hover {
      background: #ffd6ba;
    }
  }
  &.button--tertiary {

  }
}
:host {
  flex: 1;
}
:host(.icon-button){
  flex:0;
}
:host:not(.active) .button--primary:hover {
  background-color: #896c6c;
  color: #fff2eb;
}

:host:not(.active):not(.icon-button) button:hover {
  box-shadow: 0 0.25rem 2rem #896c6c4b;
  background: #ffd6ba;
}

:host(.active) button {
  background: #e5beb5;
  font-weight: bold;
  &:hover {
    background: #896c6c;
    color: #fff2eb;
  }
}
:host(.icon-button) button {
  padding: 0;
  min-height: auto;  
  // &:hover {
  //   transform:  rotateZ(50deg);
  //   background: #FFF2EB;
  // }
}
