// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'app/styles/mixins' as *;
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Lexend Deca,
      density: 0,
    )
  );

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #e5beb5,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  // min-height: 100vh;
  line-height: 1.5;
  color: inherit;
  font-family: Lexend Deca, 'Helvetica Neue', sans-serif;
  height: 100%;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #1c1896;
  // justify-content: stretch;
  align-items: stretch;
  // background: var(--mat-sys-surface);
  background: #fff2eb;
}
html,
body {
  height: 100%;
  // background: var(--mat-sys-surface);
  // background: #fff2eb;
}
/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
main {
  width: 100%;
  max-width: 800px;
}
app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.page {
  // background: #ffdcdc;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex:1;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  border-radius: 1rem;
  // padding: 2rem;
  gap: 2rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
}

.section-title {
  font-size: 1.25rem;
  font-weight: bold;
}
@mixin flexCenter($direction) {
  justify-content: center;
  align-content: center;
  flex-direction: $direction;
}
